<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>saoyisaoDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D6DD11941C9666BF005F59DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6DD11AD1C9666BF005F59DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6DD11B81C9666BF005F59DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
